body
{
    background-color:white;
	font-size:20px;
	margin:3px;
}

.topnav
{
    overflow: hidden;
	text-align: center;
	height:90px;
	width:82.5%;
	border-bottom:5px solid black;
}

.topnav button {
    float: right;
    display: block;
    color: pink;
    text-align: right;
    padding: 5px 5px;
    text-decoration: none;
	background: rgba(0, 0, 0, 0.8);
	width:100px;
	height:80px;
}

.topnav button:hover {
    background-color: #ccc;
    color: purple;
}



.content{
    padding: 16px;
    height:500px;
   text-align:center;
   width:600px;
   background-color:black;
}

.article1 {
	overflow: hidden;
	text-align: center;
	height:40px;
	width:82.5%;
	border-bottom:5px solid black;
	color:pink;
	background:rgba(0,0,0,0.8);
	font-size:20px;
}

.design {
	overflow: hidden;
	text-align: right;
	height:40px;
	width:82.5%;
	border-bottom:5px solid black;
	color:pink;
	background:rgba(0,0,0,0.8);
	font-size:15px;
    
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*For producing text on image during hover*/
.cont {
    position: relative;
    text-align:center;
	color:white;
}

.bottom-center {
    position: absolute;
    bottom: 10px;
    left: 500px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bottom-left {
    position: absolute;
    bottom: 110px;
    left: 50px;
}
/* Style the footer */
.footer {
	
    border-top:5px solid black;
    padding: 20px;
    text-align: center;
	height:100px;
	color: pink;
	margin: 5px 0px 0px 0px;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=text] {
    width: 180%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
	text-align:center;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
	height:20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);/* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 5px solid black;
    width: 40%; /* Could be more or less, depending on screen size */
	text-align:center;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}






* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  border:2px solid black;
  border-radius:10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border:2px solid black;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* unvisited link */
a:link {
    color: pink;
}

/* visited link */
a:visited {
    color: magenta;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: yellow;
}